body{
    background-color: lightgrey;
}

.fa{

    color: blue;
}

.inside-box{

    background-color: whitesmoke;
    padding: 50px 5px;
    margin: 60px 5px;
    text-align: center;
}

p{
    font-size: 12px;
}

.inside-box4{

    background-color: whitesmoke;
    padding: 50px 5px;
    margin: 40px 5px;
    text-align: center;

}